
._1{background-color: transparent;  }
._2{background-color: transparent;}
._3{background-color: transparent;}
._4{background-color: transparent;}
._5{background-color: transparent;}
._6{background-color: transparent;}
._7{background-color: transparent;}
._8{background-color: transparent;}
._9{background-color: transparent;}
._10{background-color: transparent;}
._11{background-color: transparent;}
._12{background-color: transparent;}
._13{background-color: transparent;}
._14{background-color: transparent;}
._15{background-color: transparent;}
._16{background-color: transparent;}
._17{background-color: transparent;}
._18{background-color: transparent;}
._19{background-color: transparent;}
._20{background-color: transparent;}
._21{background-color: transparent;}
._22{background-color: transparent;}
._23{background-color: transparent;}
._24{background-color: #1b5e20;}
._25{background-color: transparent;}
._26{background-color: transparent;}
._27{background-color: transparent;}
._28{background-color: transparent;}
._29{background-color: transparent;}
._30{background-color: transparent;}
._31{background-color: transparent;}
._32{background-color: transparent;}
._33{background-color: transparent;}
._34{background-color: transparent;}
._35{background-color: transparent;}
._36{background-color: transparent;}
._37{background-color: transparent;}
._38{background-color: transparent;}
._39{background-color: transparent;}
._40{background-color: transparent;}
._41{background-color: transparent;}
._42{background-color: transparent;}
._43{background-color: transparent;}
._44{background-color: transparent;}
._45{background-color: transparent;}
._46{background-color: transparent;}
._47{background-color: transparent;}
._48{background-color: transparent;}
._49{background-color: transparent;}
._50{background-color: transparent;}
._51{background-color: transparent;}
._52{background-color: transparent;}


