{% include "base.html" %}
{% block addcss%}
    <style>
    ._24{
        background-color: #2196F3;
    }
        ul#menu li {
        display:inline;
    }

    .C01{
        background-color: #d9edf7;
    }
    .C02{
        background-color: #dff0d8;
    }
    .C03{
        background-color: #f2dede;
    }
    .colormes{
        background-color: #004d40;
        color: #cccccc;
    }
    .navbar-default {
        background-color: #004d40;
        border-color: #004d40;
    }
    </style>
{% endblock %}
{% block tabla %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">INTERAUTO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="container">
            <table class="table table-bordered">
    <thead>
        <tr>
            <th>Referencia
            </th>
            <th>
                Agente
            </th>
            <th>
                Semanas
            </th>
            <th>
                Mes
            </th>
        </tr>
    </thead>
    <tbody>
    {% for dat in data %}
        <tr>
            <td>a{{ dat.Referencia }}</td>
            <td>{{ dat.Agente }}</td>
            <td>{{ dat.SemanaDelYear }}
                <hr>
                {{ dat.SemanaMasSiete }}
            </td>
        <td>
            {{ dat.Mes }}
        </td>
        </tr>
    {% endfor %}


    </tbody>

    </table>

        <table class="table table-bordered">
    <thead>
        <tr>
            <th>MovID
            </th>
            <th>
                Moneda
            </th>
            <th>
                Proveedor
            </th>
            <th>
               Importe
            </th>
        </tr>
    </thead>
    <tbody>
    {% for dat in data %}
        <tr>
            <td>{{ dat.MovID }}</td>
            <td>{{ dat.Moneda }}</td>
            <td>{{ dat.Proveedor }}
            </td>
        <td>
            {{ dat.Importe }}
        </td>
        </tr>
    {% endfor %}


    </tbody>

    </table>

    </div>
</div>


{% endblock %}
